#### DATA ENGINEERING PLATFORMS (MSCA 31012)
#### Webscraping using Python ( Example 1 )

References: 
https://first-web-scraper.readthedocs.io/en/latest/
http://web.stanford.edu/~zlotnick/TextAsData/Web_Scraping_with_Beautiful_Soup.html
http://altitudelabs.com/blog/web-scraping-with-python-and-beautiful-soup/

Installation:
`pip install BS4`  | 
`pip install Requests`

In [14]:
!pip install BS4
!pip install Requests

Requirement already satisfied: BS4 in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (from BS4) (4.6.0)
Requirement already satisfied: Requests in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (2.18.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (from Requests) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (from Requests) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (from Requests) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /Users/zhongyizhang/anaconda3/lib/python3.6/site-packages (from Requests) (2018.4.16)

In [15]:
import csv
import requests
from bs4 import BeautifulSoup
from IPython.display import HTML

Scraping Rules
--------------
- You should check a website’s Terms and Conditions before you scrape it. Be careful to read the statements about legal use of data. Usually, the data you scrape should not be used for commercial purposes.
- Do not request data from the website too aggressively with your program (also known as spamming), as this may break the website. Make sure your program behaves in a reasonable manner (i.e. acts like a human). One request for one webpage per second is good practice.
- The layout of a website may change from time to time, so make sure to revisit the site and rewrite your code as needed

In [6]:
# scrape the current Detainees of Boone County Jail from webpage into CSV
url = 'https://report.boonecountymo.org/mrcjava/servlet/SH01_MP.I00290s'
headers = {'User-Agent': "Chrome/54.0.2840.90"}
response = requests.get(url, headers=headers)
html = response.content

In [7]:
HTML('<iframe src=http://www.showmeboone.com/sheriff/JailResidents/JailResidents.asp width=900 height=350></iframe>')

In [8]:
soup = BeautifulSoup(html, "lxml")
table = soup.find('tbody', attrs={'class': 'stripe'})

In [9]:
tmpRow = (table.findAll('tr')[1:])
print (tmpRow)

[<tr class="even">
<td class="two td_left" data-th="Last Name">ACTON</td>
<td class="two td_left" data-th="First Name">ANTHONY</td>
<td class="two td_left" data-th="Middle Name">SEAN</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">27</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=66619&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">AKERS</td>
<td class="one td_left" data-th="First Name">SYDNEY</td>
<td class="one td_left" data-th="Middle Name">RAE</td>
<td class="one td_left" data-th="Sex">F</td>
<td class="one td_left" data-th="Race">W</td>
<td class="one td_right" data-th="Age">22</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=76028&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">ALLEN</td>
<td class="two td_left" data-th="First Name">RICHARD</td>
<td class="two td_left" data-th="Middle Name">RINELL</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">36</td>
<td class="two td_left" data-th="City">ST. LOUIS</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=66808&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">ANDERSON</td>
<td class="one td_left" data-th="First Name">RICHARD</td>
<td class="one td_left" data-th="Middle Name">KENNETH</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">25</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=66544&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">ARCHAMBAULT</td>
<td class="two td_left" data-th="First Name">MARK</td>
<td class="two td_left" data-th="Middle Name">VINCENT</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">58</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=76691&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">AUTENRIETH</td>
<td class="one td_left" data-th="First Name">MARK</td>
<td class="one td_left" data-th="Middle Name">CHARLES</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">W</td>
<td class="one td_right" data-th="Age">48</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=28209&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BACH</td>
<td class="two td_left" data-th="First Name">VICTOR</td>
<td class="two td_left" data-th="Middle Name">WESLEY</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">34</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=39672&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BAILEY</td>
<td class="one td_left" data-th="First Name">JOSEPH</td>
<td class="one td_left" data-th="Middle Name">SHADRICK</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">W</td>
<td class="one td_right" data-th="Age">59</td>
<td class="one td_left" data-th="City">CENTRALIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=9350&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BALDWIN</td>
<td class="two td_left" data-th="First Name">SAM</td>
<td class="two td_left" data-th="Middle Name"> </td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">28</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=57471&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BANN</td>
<td class="one td_left" data-th="First Name">MATTHEW</td>
<td class="one td_left" data-th="Middle Name">DAVID</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">W</td>
<td class="one td_right" data-th="Age">17</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=83188&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BARRETT</td>
<td class="two td_left" data-th="First Name">DEION</td>
<td class="two td_left" data-th="Middle Name">BRYANT</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">26</td>
<td class="two td_left" data-th="City">SPRINGFIELD</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=81313&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BATISTE</td>
<td class="one td_left" data-th="First Name">WALTER</td>
<td class="one td_left" data-th="Middle Name">ALLEN</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">28</td>
<td class="one td_left" data-th="City">ST LOUIS</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=82840&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BEARS</td>
<td class="two td_left" data-th="First Name">JARED</td>
<td class="two td_left" data-th="Middle Name">ANTHONY</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">21</td>
<td class="two td_left" data-th="City">OAK GROVE</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=80333&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BECK</td>
<td class="one td_left" data-th="First Name">JIMMIE</td>
<td class="one td_left" data-th="Middle Name">LEE</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">W</td>
<td class="one td_right" data-th="Age">51</td>
<td class="one td_left" data-th="City">CENTRALIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=83008&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BEESON</td>
<td class="two td_left" data-th="First Name">AARON</td>
<td class="two td_left" data-th="Middle Name">DUSTIN</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">34</td>
<td class="two td_left" data-th="City">NAUVOO</td>
<td class="two td_left" data-th="State">IL</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=80201&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BENNETT</td>
<td class="one td_left" data-th="First Name">DEVANTE</td>
<td class="one td_left" data-th="Middle Name">JACJUAN</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">26</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=74661&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BENZ</td>
<td class="two td_left" data-th="First Name">WILLIAM</td>
<td class="two td_left" data-th="Middle Name">ERNEST</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">30</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=82166&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BLAND</td>
<td class="one td_left" data-th="First Name">RANDY</td>
<td class="one td_left" data-th="Middle Name">LAMONT</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">25</td>
<td class="one td_left" data-th="City">MACOMB</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=65798&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BOYD</td>
<td class="two td_left" data-th="First Name">LEE</td>
<td class="two td_left" data-th="Middle Name">DEMAREO</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">33</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=46658&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BRATTON</td>
<td class="one td_left" data-th="First Name">CHANDLER</td>
<td class="one td_left" data-th="Middle Name">GENE</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">55</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=44671&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BREEDLOVE</td>
<td class="two td_left" data-th="First Name">WILLIAM</td>
<td class="two td_left" data-th="Middle Name">LEE</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">56</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=52128&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BROWN</td>
<td class="one td_left" data-th="First Name">BARRY</td>
<td class="one td_left" data-th="Middle Name">RONELL</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">32</td>
<td class="one td_left" data-th="City">FLORISSANT</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=80297&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BROWN</td>
<td class="two td_left" data-th="First Name">DWAYNE</td>
<td class="two td_left" data-th="Middle Name">DEAN</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">33</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=47098&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BROWN-WELLS</td>
<td class="one td_left" data-th="First Name">DOMENQUE</td>
<td class="one td_left" data-th="Middle Name">ALFONZ</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">23</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=69797&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BUCKNER</td>
<td class="two td_left" data-th="First Name">KEVIN</td>
<td class="two td_left" data-th="Middle Name">MAURICE</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">B</td>
<td class="two td_right" data-th="Age">19</td>
<td class="two td_left" data-th="City">COLUMBIA</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=77661&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BULLOCK</td>
<td class="one td_left" data-th="First Name">CHRISTOPHER</td>
<td class="one td_left" data-th="Middle Name">AARON</td>
<td class="one td_left" data-th="Sex">M</td>
<td class="one td_left" data-th="Race">W</td>
<td class="one td_right" data-th="Age">47</td>
<td class="one td_left" data-th="City">COLUMBIA</td>
<td class="one td_left" data-th="State">MO</td>
<td class="one td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=18056&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="even">
<td class="two td_left" data-th="Last Name">BURKE</td>
<td class="two td_left" data-th="First Name">JOHN</td>
<td class="two td_left" data-th="Middle Name">MATTHEW</td>
<td class="two td_left" data-th="Sex">M</td>
<td class="two td_left" data-th="Race">W</td>
<td class="two td_right" data-th="Age">48</td>
<td class="two td_left" data-th="City">HALLISVILLE</td>
<td class="two td_left" data-th="State">MO</td>
<td class="two td_left" data-th="">
<a class="_lookup btn btn-primary" height="600" href="SH01_MP.I00500s?PERKEP=81982&amp;hover_redir=&amp;height=600&amp;width=950" linkedtype="I" mrc="returndata" target="_lookup" width="860"><i class="fa fa-large fa-fw fa-list-alt"> </i>Details</a>
</td>
</tr>, <tr class="odd">
<td class="one td_left" data-th="Last Name">BURNS</td>
<td class="one td_left" data-th="First Name">ASHLEY</td>
<td class="one td_left" data-th="Middle Name">MONIQUE</td>
<td class="one td_left" data-th="Sex">F</td>
<td class="one td_left" data-th="Race">B</td>
<td class="one td_right" data-th="Age">32</td>
<td class="one td_left" data-th="City">ST LOUIS</td>

In [10]:
### Editing the code to fetch details of every record. The 'Case Number' and 'Charge Description' is Fetched for every Record.
list_of_rows = []
try:
    outfile = open("./inmates.csv", "w")
    writer = csv.writer(outfile)
    writer.writerow(["Last", "First", "Middle", "Gender", "Race", "Age", "City", "State","Case Number","Charge Description"])
    for row in table.findAll('tr'):
        list_of_cells = []
        for cell in row.findAll("td"):
            if(cell['data-th'] == ''):
                continue
            text = cell.text.replace('&nbsp;', '')
            list_of_cells.append(text)
        for anchor in row.findAll('a'):
            #href is fetched for every record and the response is parsed for every individual hit to href.
            details_href = "https://report.boonecountymo.org/mrcjava/servlet/"+anchor['href']
            details_response = requests.get(details_href)
            details_html = details_response.content
            details_soup = BeautifulSoup(details_html, "lxml")
            details_table = details_soup.find('tbody', attrs={'class': 'stripe'})
            if details_table is not None:
                details_table_tr = details_table.find('tr', attrs={"class": "detailBackground"})
                if details_table_tr is not None:
                    list_of_cells.append((details_table_tr.find('td', attrs = {'data-th' : 'CASE #'})).text)
                    list_of_cells.append((details_table_tr.find('td', attrs = {'data-th' : 'CHARGE DESCRIPTION'})).text)
        arrLength = len(list_of_cells)
        writer.writerow(list_of_cells)
finally:
    outfile.close()

In [11]:
# data cleaning 
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('./inmates.csv')
df.head()

,Last,First,Middle,Gender,Race,Age,City,State,Case Number,Charge Description
0,ACCOLA,MEGAN,ALEXANDRIA,F,W,25,COLUMBIA,MO,NaN,NaN
1,ACTON,ANTHONY,SEAN,M,B,27,COLUMBIA,MO,NaN,NaN
2,AKERS,SYDNEY,RAE,F,W,22,COLUMBIA,MO,NaN,NaN
3,ALLEN,RICHARD,RINELL,M,B,36,ST. LOUIS,MO,NaN,NaN
4,ANDERSON,RICHARD,KENNETH,M,B,25,COLUMBIA,MO,NaN,NaN

In [20]:
# Drop certain fields if they are not relevant for analysis
df.drop(['Race'], inplace=True, axis=1)
df.head()

,Last,First,Middle,Gender,Age,City,State,Case Number,Charge Description
0,ACTON,ANTHONY,SEAN,M,27,COLUMBIA,MO,NaN,NaN
1,AHMED,MUJAHID,ABDULILLAH,M,27,COLUMBIA,MO,NaN,NaN
2,ALEXANDER,MIKKI,DAWN,F,42,HOLTS SUMMIT,MO,NaN,NaN
3,AMATO,TRAVIS,DANIEL,M,31,COLUMBIA,MO,NaN,NaN
4,BAKER,CHAD,EDWARD,M,31,THOMPSON,MO,NaN,NaN

In [21]:
# Expanding M as Male and F as Female.
gender = df['Gender']
male = gender.str.contains('M')
female = gender.str.contains('F')
df['Gender'] = np.where(male, 'Male',
                       np.where(female, 'Female',
                               gender))
df.head()

,Last,First,Middle,Gender,Age,City,State,Case Number,Charge Description
0,ACTON,ANTHONY,SEAN,Male,27,COLUMBIA,MO,NaN,NaN
1,AHMED,MUJAHID,ABDULILLAH,Male,27,COLUMBIA,MO,NaN,NaN
2,ALEXANDER,MIKKI,DAWN,Female,42,HOLTS SUMMIT,MO,NaN,NaN
3,AMATO,TRAVIS,DANIEL,Male,31,COLUMBIA,MO,NaN,NaN
4,BAKER,CHAD,EDWARD,Male,31,THOMPSON,MO,NaN,NaN

In [22]:
# Check for missing values in Case Number
df['Case Number'].isnull().values.any()

True

In [24]:
# Fill In missing values with a default value
df['Case Number'].fillna("No Case Number Available", inplace=True)
df['Charge Description'].fillna("No Description Available", inplace=True)
df.head()

,Last,First,Middle,Gender,Age,City,State,Case Number,Charge Description
0,ACTON,ANTHONY,SEAN,Male,27,COLUMBIA,MO,No Case Number Available,No Description Available
1,AHMED,MUJAHID,ABDULILLAH,Male,27,COLUMBIA,MO,No Case Number Available,No Description Available
2,ALEXANDER,MIKKI,DAWN,Female,42,HOLTS SUMMIT,MO,No Case Number Available,No Description Available
3,AMATO,TRAVIS,DANIEL,Male,31,COLUMBIA,MO,No Case Number Available,No Description Available
4,BAKER,CHAD,EDWARD,Male,31,THOMPSON,MO,No Case Number Available,No Description Available

In [25]:
# Remove whitespaces from Charge description and changing to uppercase
df['Charge Description'] = df['Charge Description'].str.strip()
df['Charge Description'] = df['Charge Description'].str.upper()
df.head()

,Last,First,Middle,Gender,Age,City,State,Case Number,Charge Description
0,ACTON,ANTHONY,SEAN,Male,27,COLUMBIA,MO,No Case Number Available,NO DESCRIPTION AVAILABLE
1,AHMED,MUJAHID,ABDULILLAH,Male,27,COLUMBIA,MO,No Case Number Available,NO DESCRIPTION AVAILABLE
2,ALEXANDER,MIKKI,DAWN,Female,42,HOLTS SUMMIT,MO,No Case Number Available,NO DESCRIPTION AVAILABLE
3,AMATO,TRAVIS,DANIEL,Male,31,COLUMBIA,MO,No Case Number Available,NO DESCRIPTION AVAILABLE
4,BAKER,CHAD,EDWARD,Male,31,THOMPSON,MO,No Case Number Available,NO DESCRIPTION AVAILABLE

In [ ]:
# save final results
df.to_csv("./cleaninmates.csv")